.hero {
  margin-top: 64rem;
  margin-bottom: 128rem;
  display: flex;
  align-items: center;
  gap: 140rem;
  @include desktop-small {
    gap: 30rem;
  }
  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    margin-bottom: 60rem;
  }

  &__img {
    border-radius: 8rem;
    max-width: 448rem;
    flex-shrink: 0;
    transition: 0.2s all ease-in-out;
    img {
      border-radius: inherit;
    }
    &:hover {
      transform: scale(1.03);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 60rem;
    line-height: 118%;
    letter-spacing: -0.01em;
    margin-bottom: 24rem;
    transition: 0.2s all ease-in-out;
    &:hover {
      color: var(--hover);
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16rem;
    line-height: 175%;
    letter-spacing: 0.03em;

    span {
      font-weight: 500;
      line-height: 125%;
      letter-spacing: 0.01em;
    }
  }

  &__email {
    @extend .hero__desc;
    color: var(--primario);
  }
}
